*{
    margin: 0%;
    padding: 0%;
}
.sky{
    width: 100%;
    height: 100vh;
    background-image: url("https://www.eventstodayz.com/wp-content/uploads/2017/08/Night-City-wallpapers.jpg");
    position: relative;
    overflow: hidden;
    background-repeat: repeat-x;
    background-size: cover;
}

.highway img{
    width: 300%;
    position: absolute;
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    animation: highway 2s linear infinite;
}
@keyframes highway {
    100%{
        transform: translateX(-30%);
    }
}
.car img{
    width: 20%;
    height: auto;
    position: absolute;
    left: 20%;
    transform: translate(-50%);
    bottom: 6.5%;
    z-index: 2;
    animation: car 2s linear infinite;
}
@keyframes car {
    0% {
        transform: translateY(-2%);
    }
    50% {
        transform: translateY(0%);
        }
    100% {
        transform: translateY(-2%);
        }
}
@keyframes tyre {
    100%{
        transform: rotate(360deg);
    }
}
.wheels #front{
    width: 3.5%;
    height: auto;
    position: absolute;
    left: 21.7%;
    z-index: 2;
    bottom: 7.2%;
    animation: tyre 1s linear infinite;
}
.wheels #back{
    width: 3.5%;
    height: auto;
    position: absolute;
    left: 34%;
    z-index: 4;
    bottom: 7.2%;
    animation: tyre 1s linear infinite;
}