*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container
{
    height: 100vh;
    background-image: url("https://www.scripps.edu/_files/images/covid-19/faq_image01_rna_necleoproteins.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

.entry{
    height: 60%;
    width: 40%;
    background-color: #fff;
    background-color: rgba(49, 53, 53, 0.5); 
    background-image: url("https://www.un.org/sites/un2.un.org/files/2020/05/podcast-eye-animation3.gif");
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
#header{
    margin: 10px;
    color:black;
    font-family: 'Kalam', cursive;
    font-size: 60px;
}
#forme{
 display: flex;
 flex-direction: column;
 font-size: 20px;
}
.format{
    display: flex;
    justify-content:end;
    width: 400px;
    padding: 10px;
    color: black;
}
label{
    padding-right: 10px;
    padding-left: 5px;
}
.h2{
    width: 180px;
}
#cars
{
    width: 180px;
    height: 20px;
    background-color:transparent;

}
.rad{
  
    width: 180px;
    font-size: 20px;
}
.radi
{
    width: 100%;
    padding: 2px;
    display: flex;
}
#veh{
    height: 15px;
    width :15px;
}
.text{
    display: flex;
    position: relative;
    align-items:center;
    justify-content:end;
    padding: 10px;
    height: 50px;
}
#text{
    height: 40px;
    width:180px;
    background-color: transparent;
    border-width: 0 0 1px;
}