body{
    background-color: black;
}
.header{
    background-color: black;
    background-size: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
}
h1{
    font-size: 80px;
    text-shadow: 2px 2px 5px gold;
    font-family: 'Dancing Script', cursive;
}
img {
    position: relative;
    border: solid white;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#timeline{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr-5STtTrMV0X6WJjlbqpUgxiEK4UmSWxHcQ&usqp=CAU");
    background-size: 96%;
    height: auto;
    color: white;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
}
h2,#explore h3{
    font-size: 50px;
    text-align:center;
    font-family: 'Satisfy', cursive;
    text-shadow: 1px 1px 1px gold;
    font-weight: 300;
    text-decoration: underline;
    color:white;
}
#explore{
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 5px 5px gold;
}
#ending h2{
    color:white;
    font-family: 'Satisfy', cursive;
    text-shadow: 1px 1px 1px gold;
    text-decoration: none;
}
a{
    color:white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
a:hover{
    color: red;
}
a:active{
    color: black;
}
a:visited{
    color: greenyellow;
}